/* Add your custom CSS styles here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("../images/backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white; /* Set text color to white */
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  #imageContainer {
    display: flex;
    align-items: center;
  }
  
  #encryptedImage, #bifurcationDiagramEn {
    flex: 1;
  }
  #decryptedImage, #bifurcationDiagramDe {
    flex: 1;
  }
  
  #headingContainer {
    display: flex;
    justify-content: space-between;
  }
  
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  .bifurcation{
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    }
  
  input[type="text"],
  input[type="file"] {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  @media screen and (min-width: 600px) {
    form {
      display: flex;
      flex-wrap: wrap;
    }
  
    label,
    input[type="text"],
    input[type="file"],
    input[type="submit"] {
      width: auto;
      margin-right: 10px;
    }
  
    input[type="submit"] {
      flex: 0 0 auto;
      }
    }
    @media screen and (max-width: 600px) {
      body {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

      }
    }
  