/* Add your custom CSS styles here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("../images/backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white; /* Set text color to white */
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
/* Add a hover effect to the drop container when hovering over the image */
.drop-container:hover {
  border-color: #27ae60; /* Change border color to highlight color */
  background-color: #8fd88f; /* Change background color to highlight color */
}

/* Style the drop container */
.drop-container {
  border: 2px solid #3498db;
  padding: 20px;
  text-align: center;
  background-color: #e6f0f2;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Style the drop container when it's being dragged over */
.drop-container.dragover {
  border-color: #e74c3c;
  background-color: #f8f9fa;
}

/* Style the drop container when it's highlighted */
.drop-container.highlight {
  border-color: #27ae60;
  background-color: #8fd88f;
}

/* Style the drop message */
.drop-message {
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}


.image-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.image-container img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.image-container img:hover {
    transform: scale(1.05);
}

.image-container p {
    margin-top: 5px;
    font-size: 14px;
    color: #777;
}

.preview-image {
    max-width: 150px;
    max-height: 150px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.drop-icon {
    text-align: center;
    margin-bottom: 10px;
}

.drop-icon img {
    max-width: 80px; /* Adjust the width of the small icon */
    max-height: 80px; /* Adjust the height of the small icon */
}
#image{
  font-size: medium;
  color: #121111;
}
#encryptedImageFile{
  font-size: medium;
  color: #121111;
}

  #imageContainer {
    display: flex;
    align-items: center;
  }
  
  #encryptedImage, #bifurcationDiagramEn {
    flex: 1;
  }
  #decryptedImage, #bifurcationDiagramDe {
    flex: 1;
  }
  
  #headingContainer {
    display: flex;
    justify-content: space-between;
  }
  
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
   /* Styles for the custom submit button */
.custom-button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Add some space between buttons */
}

/* Change the background color on hover */
.custom-button:hover {
  background-color: #45a049;
}

/* Change the background color when the button is active/pressed */
.custom-button:active {
  background-color: #3f9142;
}
/* Flexbox layout for the buttons container */
.form-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Align items horizontally in the center */
}

/* Add spacing between the buttons */
.encrypt-form {
  margin-right: 10px;
}
/* Add spacing between the buttons */
.decrypt-form {
  margin-right: 10px;
}

/* Styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the overlay is on top of other elements */
  display: none; /* Hide the overlay by default */
}

/* Styles for the loading spinner */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  .bifurcation{
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    }
  
  input[type="text"],
  input[type="file"] {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  @media screen and (min-width: 600px) {
    form {
      display: flex;
      flex-wrap: wrap;
    }
  
    label,
    input[type="text"],
    input[type="file"],
    input[type="submit"] {
      width: auto;
      margin-right: 10px;
    }
  
    input[type="submit"] {
      flex: 0 0 auto;
      }
    }
    @media screen and (max-width: 600px) {
      body {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

      }
    }
  