/* Add your custom CSS styles here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("../images/backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white; /* Set text color to white */
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  #imageContainer {
    display: flex;
    align-items: center;
  }
  
  #encryptedImage, #bifurcationDiagramEn {
    flex: 1;
  }
  #decryptedImage, #bifurcationDiagramDe {
    flex: 1;
  }
  
  #headingContainer {
    display: flex;
    justify-content: space-between;
  }
  
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
   /* Styles for the custom submit button */
.custom-button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Add some space between buttons */
}

/* Change the background color on hover */
.custom-button:hover {
  background-color: #45a049;
}

/* Change the background color when the button is active/pressed */
.custom-button:active {
  background-color: #3f9142;
}
/* Flexbox layout for the buttons container */
.form-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Align items horizontally in the center */
}

/* Add spacing between the buttons */
.encrypt-form {
  margin-right: 10px;
}
/* Add spacing between the buttons */
.decrypt-form {
  margin-right: 10px;
}

/* Styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the overlay is on top of other elements */
  display: none; /* Hide the overlay by default */
}

/* Styles for the loading spinner */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  .bifurcation{
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    }
  
  input[type="text"],
  input[type="file"] {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  @media screen and (min-width: 600px) {
    form {
      display: flex;
      flex-wrap: wrap;
    }
  
    label,
    input[type="text"],
    input[type="file"],
    input[type="submit"] {
      width: auto;
      margin-right: 10px;
    }
  
    input[type="submit"] {
      flex: 0 0 auto;
      }
    }
    @media screen and (max-width: 600px) {
      body {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

      }
    }
  