<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaotic Image Encryption</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <h1>Chaotic Image Encryption</h1>
    <!-- Overlay with loading spinner -->
    <div id="loadingOverlay" class="overlay">
        <div class="spinner"></div>
    </div>
    
    <h2>Encrypt Image</h2>
    <div class = "form-container">
    <form id="encryptForm" class="encrypt-form">
        <label for="initCond">Initial Condition:</label>
        <input type="text" id="initCond" required><br>

        <label for="controlPara">Control Parameter:</label>
        <input type="text" id="controlPara" required><br>

        <label for="image">Original Image:</label>
        <input type="file" id="image" required accept="image/*"><br>

        <input type="submit" value="Encrypt" class = "custom-button">
    </form>
     <!-- Add the download button -->
    <button id="downloadEncrypted" class="custom-button">Download Encrypted Image</button>
  </div>
    
    <div id="headingContainer">
        <h2>Encrypted Image</h2>
        <h2>Bifurcation Diagram</h2>
    </div>
      
    <div id="imageContainer">
        <div id="encryptedImage"></div>
        <div id="bifurcationDiagramEn"></div>
    </div>

    <h2>Decrypt Image</h2>
    <div class = "form-container">
        <form id="decryptForm" class="decrypt-form">
            <label for="decryptInitCond">Initial Condition:</label>
            <input type="text" id="decryptInitCond" required><br>

            <label for="decryptControlPara">Control Parameter:</label>
            <input type="text" id="decryptControlPara" required><br>

            <label for="encryptedImageFile">Encrypted Image:</label>
            <input type="file" id="encryptedImageFile" required accept="image/*"><br>

            <input type="submit" value="Decrypt" class="custom-button">
        </form>
        <!-- Add the download button -->
        <button id="downloadDecrypted" class="custom-button">Download Decrypted Image</button>
    </div>
    <div id="headingContainer">
        <h2>Decrypted Image</h2>
        <h2>Bifurcation Diagram</h2>
      </div>
      
    <div id="imageContainer">
        <div id="decryptedImage"></div>
        <div id="bifurcationDiagramDe"></div>
    </div>

    <!-- <h2>Decrypted Image</h2>
    <div id="decryptedImage"></div> -->

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
